@model IEnumerable<Bullard_Inc.Models.ApprovedView>


    <table class="table" style="table-layout:fixed;width:100%">
        <thead>
            <tr>
                <th style='width: 5%;'>Id</th>
                <th style='width: 25%;'>First Name</th>
                <th style='width: 30%;'>Last Name</th>
                <th style='width: 30%;'>Date Submitted</th>
                <th style='width: 5%;'>Status</th>
                <th style='width: 5%;'></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var timesheet in Model)
            {

            <tr>
                <td style='width: 5%;'>@timesheet.Timesheet_Id</td>
                <td style='width: 25%;'>@timesheet.FirstName</td>
                <td style='width: 30%;'>@timesheet.LastName</td>
                <td style='width: 30%;'>@timesheet.DateSubmitted</td>
                <td style='width: 5%;'><i class="fa fa-check green-text"></i></td>
                <td style='width: 5%;'>
                    <a href="javascript:unapprove(@timesheet.Timesheet_Id, @timesheet.WeekId)" class="red-text"><i class="fa fa-times"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
<script type="text/javascript">
    function unapprove(id,week) {
        var action = '@Url.Action("UnApprove", "Scheduler", new { id = "-1" , week = "-2"})';
        action = action.replace("-1", id);
        action = action.replace("-2", week);
        $("#panel3").load(action);
    }
</script>

