@model IEnumerable<Bullard_Inc.Models.ApprovedView>
@{ 
    int weekid;
    if (Model.Any())
    {
        weekid = Model.First().WeekId;
    }
    else
    {
        weekid = 0;
    }
    string[] days = { "", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
}


@foreach (var timesheet in Model)
            {

    <table class="table">
        <thead>
            <tr style="cursor: pointer;">
                <td style='width: 12%; font-weight:bold' data-toggle="collapse" data-target="#test_@timesheet.Timesheet_Id">@timesheet.Timesheet_Id</td>
                <td style='width: 15%; font-weight:bold' data-toggle="collapse" data-target="#test_@timesheet.Timesheet_Id">@timesheet.FirstName</td>
                <td style='width: 13%; font-weight:bold' data-toggle="collapse" data-target="#test_@timesheet.Timesheet_Id">@timesheet.LastName</td>
                <td style='width: 10%; font-weight:bold' ></td>
                <td style='width: 10%;'></td>
                <td style='width: 10%;'></td>
                <td style='width: 20%;'>@timesheet.DateSubmitted</td>
                <td style='width: 10%;' >
                    <a href="javascript:unapprove(@timesheet.Timesheet_Id, @timesheet.WeekId)" class="red-text"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        </thead>
        <tbody id="test_@timesheet.Timesheet_Id" class="collapse">
            <tr>
                <td style='width: 12%;'>&nbsp;Day</td>
                <td style='width: 15%;'>Job Id</td>
                <td style='width: 13%;'>Project Id</td>
                <td style='width: 10%;'>Hours</td>
                <td style='width: 10%;'>Mileage</td>
                <td style='width: 10%;'>Lunch</td>
                <td style='width: 20%;'>Activity Code</td>
                <td style='width: 10%;'></td>

            </tr>

            @foreach (var job in timesheet.Jobs)
            {
                <tr>
                    <td style='width: 12%;'>&nbsp;@days[@timesheet.EmpDays.FirstOrDefault(c => c.EmployeeDay_Id == @job.EmployeeDay_Id).Day_Id]</td>
                    <td style='width: 15%;'>@job.Job_Id</td>
                    <td style='width: 13%;'>@job.Project_Id</td>
                    <td style='width: 10%;'>@job.Hours</td>
                    <td style='width: 10%;'>@job.Mileage</td>
                    <td style='width: 10%;'>@job.Lunch</td>
                    <td style='width: 20%;'>@job.ActivityCode</td>
                    <td style='width: 10%;'></td>

                   

                </tr>

            }

        </tbody>
    </table>
}
    <a href="/downloadcsv/@weekid"><i class="fa fa-download"></i></a>
    
    <script type="text/javascript">
        function unapprove(id, week) {
            var action = '@Url.Action("UnApprove", "Scheduler", new { id = "-1" , week = "-2"})';
            action = action.replace("-1", id);
            action = action.replace("-2", week);
            $("#panel3").load(action);
        }
    </script>

