@model IEnumerable<Bullard_Inc.Models.PastDueView>



    <table class="table">
        <thead>
            <tr>
                <th style='width: 5%;'>Id</th>
                <th style='width: 25%;'>First Name</th>
                <th style='width: 30%;'>Last Name</th>
                <th style='width: 30%;'>Date of Week</th>
                <th style='width: 10%;'>Submitted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var timesheet in Model)
            {
                var status = new HtmlString("<i class=\"fa fa-check green-text\"></i>");
                if (timesheet.Submitted == false)
                {
                    status = new HtmlString("<i class=\"fa fa-times red-text\"></i>");
                }
            <tr>
                <td style='width: 5%;'>@timesheet.Timesheet_Id</td>
                <td style='width: 25%;'>@timesheet.FirstName</td>
                <td style='width: 30%;'>@timesheet.LastName</td>
                <td style='width: 30%;'>@timesheet.StartDate.ToShortDateString()-@timesheet.EndDate.ToShortDateString()</td>
                <td style='width: 10%;'>@status</td>
            </tr>
            }
        </tbody>
    </table>
