@model IEnumerable<Bullard_Inc.Models.PastDueView>



    <table class="table">
        <thead>
            <tr>
                <th>Timesheet Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Week</th>
                <th align="center">Submitted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var timesheet in Model)
            {
                var status = new HtmlString("<i class=\"fa fa-check green-text\"></i>");
                if (timesheet.Submitted == false)
                {
                    status = new HtmlString("<i class=\"fa fa-times red-text\"></i>");
                }
            <tr>
                <td>@timesheet.Timesheet_Id</td>
                <td>@timesheet.FirstName</td>
                <td>@timesheet.LastName</td>
                <td>@timesheet.StartDate.ToShortDateString()-@timesheet.EndDate.ToShortDateString()</td>
                <td align="center">@status</td>
            </tr>
            }
        </tbody>
    </table>
