@model IEnumerable<Bullard_Inc.Models.PendingView>
@{ 
    string[] days = { "", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
}

@foreach (var timesheet in Model)
            {

    <table class="table">
        <thead>
            <tr>
                <td style='width: 20%;' data-toggle="collapse" data-target="#test_@timesheet.Timesheet_Id">@timesheet.Timesheet_Id</td>
                <td style='width: 20%;' data-toggle="collapse" data-target="#test_@timesheet.Timesheet_Id">@timesheet.FirstName</td>
                <td style='width: 20%;' data-toggle="collapse" data-target="#test_@timesheet.Timesheet_Id">@timesheet.LastName</td>
                <td style='width: 30%;' >@timesheet.DateSubmitted</td>
                <td style='width: 10%;'>
                    <a href="#" class="red-text"><i class="fa fa-times"></i></a>
                    <a href='javascript:approve(@timesheet.Timesheet_Id, @timesheet.WeekId)' class="green-text"><i class="fa fa-check"></i></a>
                </td>
            </tr>
        </thead>
        <tbody id="test_@timesheet.Timesheet_Id" class="collapse">
            <tr>
                <td style='width: 15%;'>Day</td>
                <td style='width: 15%;'>Job Id</td>
                <td style='width: 15%;'>Project Id</td>
                <td style='width: 5%;'>Hours</td>
                <td style='width: 10%;'>Mileage</td>
                <td style='width: 10%;'>Lunch</td>
                <td style='width: 10%;'>Activity Code</td>
                <td style='width: 20%;'></td>

            </tr>

            @foreach (var job in timesheet.Jobs)
            {
                <tr>
                    <td style='width: 15%;'>@days[@timesheet.EmpDays.FirstOrDefault(c => c.EmployeeDay_Id == @job.EmployeeDay_Id).Day_Id]</td>
                    <td style='width: 15%;'>@job.Job_Id</td>
                    <td style='width: 15%;'>@job.Project_Id</td>
                    <td style='width: 5%;'>@job.Hours</td>
                    <td style='width: 10%;'>@job.Mileage</td>
                    <td style='width: 10%;'>@job.Lunch</td>
                    <td style='width: 10%;'>@job.ActivityCode</td>
                    <td style='width: 20%;'><a href="@Url.Action("EmpJobEdit","Timecard", new { day_id = job.EmployeeDay_Id , id= job.Job_Id })" class="blue-text"><i class="fa fa-pencil"></i></a></td>

                </tr>

            }

        </tbody>
    </table>
}
<script type="text/javascript">
    function approve(id, week) {
        var action = '@Url.Action("Approve", "Scheduler", new { id = "-1", week = "-2" })';
        action = action.replace("-1", id);
        action = action.replace("-2", week);
        $("#panel1").load(action);
    }
</script>
