
@model Bullard_Inc.Models.WorkWeek
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminFrame.cshtml";
    string[] days = { "", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
    
}


<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] Bullard </title>
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link href="~/Content/compiled.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/style.css">
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById('panel1bt').click();

        }
    </script>
</head>

   <div class="container-fluid">
        <h1>TIMECARD</h1>
        <!-- Nav tabs -->
       <input id="tmp" name="tmp" type="text" />
       <a href="#" class="btn btn-default" onclick="changeWeek();">Test Week</a>
        <ul class="nav nav-tabs tabs-3 Bullard_Color" role="tablist">
            <li class="nav-item">
                <a id="panel1bt" class="nav-link" data-toggle="tab" href="#panel1" onclick="getPending(@Model.Week_Id);" role="tab">PENDING</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel2" onclick="getPastDue(@Model.Week_Id);" role="tab">PAST DUE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel3" onclick="getApproved(@Model.Week_Id);" role="tab">APPROVED</a>
            </li>
        </ul>
   </div>
    <!-- Tab panels -->
    <div class="tab-content card">
        <!--Panel 1-->
        <div class="tab-pane fade" id="panel1" role="tabpanel">
            
        </div>

            
            <div class="tab-pane fade" id="panel2" role="tabpanel">
                
            </div>
            <!--/.Panel 2-->
            <!--Panel 3-->
            <div class="tab-pane fade" id="panel3" role="tabpanel">
                
            </div>
            <!--/.Panel 3-->
        </div>

<script type="text/javascript">
    function getPending(week) {
        var action = '@Url.Action("GetPending", "Scheduler", new { week = "-1" })'
        action = action.replace("-1", week);
        $("#panel1").load(action)
    }
    function getPastDue(week) {
        var action = '@Url.Action("GetPastDue", "Scheduler", new { week = "-1" })'
        action = action.replace("-1", week);
        $("#panel2").load(action);
    }
    function getApproved(week) {
        var action = '@Url.Action("GetApproved", "Scheduler", new { week = "-1" })'
        action = action.replace("-1", week);
        $("#panel3").load(action);
    }
    function changeWeek() {
        var week = document.getElementById('tmp').value;
        var action = '@Url.Action("ChangeWeek", "Scheduler", new { week = "-1" })'
        action = action.replace("-1", week);
        window.location.href = action;
    }
</script>
