@model Bullard_Inc.Models.Timecard_EmpJobAddEdit

@{
    ViewBag.Title = "Job Edit";
    Layout = "~/Views/Shared/FieldWorkerFrame.cshtml";

    string status = (string)ViewData["status"];
    string date = (string)ViewData["weekDate"];

    int day_id = (int) ViewData["day_id"];
    string dayString = (string) ViewData["dayString"];
    int empDayId = (int)ViewData["empDayId"];
    int ts_id = (int)ViewData["ts_id"];
}
<script type="text/javascript">
    function ClearFields() {

        onclick = "this.value=''";

    }
</script>
<h2 align="center"><b>TIMECARD</b></h2>

<select id="Week_Id" name="Week_Id">
        <option selected disabled>@date</option>
</select>
<br />

<p>Status: <span style="color: red"><b>@status</b></span></p>

<button class="btn btn-default btn-lg btn-block">@dayString</button>
<br />

<form action="@Url.Action("EmpJobUpdate","Timecard", new { day_id = day_id })" method="post">

    <div class="md-form">
        <input value=@Model.Job.Job_Id type="hidden" id="Job_Id" class="form-control" name="Job_Id">
    </div>

    <div class="md-form">
        <input value=@empDayId type="hidden" id="EmployeeDay_Id" class="form-control" name="EmployeeDay_Id">
    </div>

    <!-- Projects Drowndown List-->
    <div class="md-form">
        <label class="active" for="form6">Project #:</label>
        <br>
        <select class ="browser-default" id="Project_Id" name="Project_Id">
            @foreach (var project in Model.Projects)
            {
                if (project.Project_Id != Model.Job.Project_Id)
                {
                    <option value=@project.Project_Id> @project.Project_Num - @project.Location </option>
                }
                else
                {
                    <option selected value=@project.Project_Id> @project.Project_Num - @project.Location </option>
                }
            }
        </select>
        <br>
    </div>

    <!-- ActivityCode (Work Performed) Drowndown List-->
    <div class="md-form">
        <label class="active" for="form6">Work Performed:</label>
        <br>
        <select class ="browser-default" id="ActivityCode" name="ActivityCode">
            @foreach (var code in Model.ActivityCodes)
            {
                if (code.ActivityCode_Id != Model.Job.ActivityCode)
                {
                    <option value=@code.ActivityCode_Id> @code.ActivityDescription </option>
                }
                else
                {
                    <option selected value=@code.ActivityCode_Id> @code.ActivityDescription </option>
                }
            }
        </select>
        <br>
    </div>

    <div class="md-form">
        <input value=@Model.Job.Hours type="text" id="Hours" placeholder="0" class="form-control" name="Hours">
        <label class="active" for="form6">Hours</label>
    </div>

    <div class="md-form">
        <input value=@Model.Job.Mileage type="text" id="Mileage" onclick="ClearFields();" class="form-control" name="Mileage">
        <label class="active" for="form6">Miles</label>
    </div>

    <div class="md-form">
        <input value=@Model.Job.Lunch type="text" id="Lunch" onclick="ClearFields();" class="form-control" name="Lunch">
        <label class="active" for="form6">Lunch</label>
    </div>

    <div>
        <div class="row">
            <div class="col">
                <div align="left">
                    <input type="submit" class="btn btn-default" value="SUBMIT">
                </div>
            </div>
            <div class="col">
                <div align="right">
                    <a class="btn btn-default" href="/Timecard/empjobview/@ts_id/@day_id">CANCEL</a>
                </div>
            </div>
        </div>
    </div>

</form>