@model Bullard_Inc.Models.EmpJobEditModel
@{
    Layout = "~/Views/Shared/FieldWorkerFrame.cshtml";
    string startDate = "12/6/17";
    string endDate = "-12/13/17";
}

<h2 align="center"><b>TIMECARD</b></h2>

<div align="center">
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li class="active"><a href="">@startDate - @endDate</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>

<p>Status: <span style="color: red"><b>@Model.status</b></span></p>

<a href="#" class="btn btn-default btn-lg btn-block disabled">@Model.day</a>
<br />
<a href="@Model.day/empjobadd" class="btn btn-default">ADD</a>
<hr />
<p>
    JOB #: @Model.jobNumber <br />
    Hours: @Model.hours <br />
    Miles: @Model.miles <br />
    Lunch: @Model.lunch <br />
    Work Preferred: @Model.workPreferred <br /> <br />
    <div>
        <a href="@Model.day/empjobedit" class="btn btn-default">EDIT</a>
        <a href="#" class="btn btn-default disabled">DEL</a>
    </div>
</p>
<hr />

<p>
    Total Hours: XXX <br />
    Total Miles: XXX <br />
</p>

<div align="right">
    <a href="/timecard" class="btn btn-primary">Back</a>
</div>
