@model Bullard_Inc.Models.Job[]
@{
    ViewBag.Title = "Job View";
    Layout = "~/Views/Shared/FieldWorkerFrame.cshtml";

    string status = (string)ViewData["status"];
    string date = (string)ViewData["weekDate"];

    int day_id = (int) ViewData["day_id"];
    string dayString = (string)ViewData["dayString"];
    int empdayid = (int)ViewData["EmpDayId"];
    int ts_id = (int)ViewData["ts_id"];

    double totalHours = 0;
    double totalMiles = 0;
}

<h2 align="center"><b>TIMECARD</b></h2>

<select id="Week_Id" name="Week_Id">
    <option selected disabled>@date</option>
</select>
<br />
<p>Status: <span style="color: red"><b>@status</b></span></p>
<button class="btn btn-default btn-lg btn-block">@dayString</button>
<br />


@if (status == "OPEN")
{
    <a href="@Url.Action("EmpJobAdd","Timecard", new { ts_id = ts_id ,empdayid = empdayid, day_id = day_id })" class="btn btn-default">ADD</a>
        }
<br /><br />
    @foreach (var job in Model)
    {

            <p>
                JOB #: @Html.DisplayFor(m => job.Project_Id, "Project #:") <br />
                Work Perfomed: @Html.DisplayFor(m => job.ActivityCode) <br />
                Hours: @Html.DisplayFor(m => job.Hours) <br />

                Miles: @Html.DisplayFor(m => job.Mileage) <br />
                Lunch: @Html.DisplayFor(m => job.Lunch) <br />
                
                @{
                    // accumilate total hours and milage
                    totalHours += job.Hours;
                    totalMiles += job.Mileage;
                }
                <div>
                   @if (status == "OPEN")
                   {
                        <a href="@Url.Action("EmpJobEdit","Timecard", new { empdayid = empdayid, day_id = day_id, id = job.Job_Id })">Edit  </a>
                       //@Html.ActionLink("Edit", "EmpJobEdit", "Timecard",  new { empdayid = empdayid, day_id = day_id, id = job.Job_Id });
                       //&emsp; &emsp; &emsp; &emsp; &emsp;<!--adds space between Edit & Delete-->
                       //@Html.ActionLink("Delete", "EmpJobDelete", new { id = job.Job_Id }, new { onclick = "return confirm('Are you sure you want to delete this job?');" });
                        <a href="@Url.Action("EmpJobDelete","Timecard", new { empdayid = empdayid, day_id = day_id, id = job.Job_Id })">   Delete</a>
                   }
                </div>
            </p>
         <hr />
     }

<p>
    Total Hours: @totalHours <br />
    Total Miles: @totalMiles <br />
</p>

<div align="right">
    <a href="/Timecard/Index" class="btn btn-default btn-lg">Back</a>
</div>
