@model Bullard_Inc.Models.Job[]
@{
    ViewBag.Title = "Job View";
    Layout = "~/Views/Shared/FieldWorkerFrame.cshtml";

    string status = (string)ViewData["status"];
    string date = (string)ViewData["weekDate"];

    int day_id = (int) ViewData["day_id"];
    string dayString = (string)ViewData["dayString"];

    double totalHours = 0;
    double totalMiles = 0;
}

<h2 align="center"><b>TIMECARD</b></h2>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <nav>
                <ul class="pagination pagination-lg pg-bluegrey">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="/timecard/history">
                            @date
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col"></div>
    </div>
</div>

<p>Status: <span style="color: red"><b>@status</b></span></p>
<button class="btn btn-default btn-lg btn-block">@dayString</button>
<br />

<a href="@ViewData["day_id"]/empjobadd" class="btn btn-default">ADD</a>
<br /><br />
    @foreach (var job in Model)
    {

            <p>
                JOB #: @Html.DisplayFor(m => job.Project_Id, "Project #:") <br />
                Hours: @Html.DisplayFor(m => job.Hours) <br />

                Miles: @Html.DisplayFor(m => job.Mileage) <br />
                Lunch: @Html.DisplayFor(m => job.Lunch) <br />
                Work Perfomed: @Html.DisplayFor(m => job.ActivityCode) <br />
                @{
                    // accumilate total hours and milage
                    totalHours += job.Hours;
                    totalMiles += job.Mileage;
                }
                <div>
                    @Html.ActionLink("Edit", "EmpJobEdit", new { id = job.Job_Id})
                </div>
            </p>
         <hr />
     }

<p>
    Total Hours: @totalHours <br />
    Total Miles: @totalMiles <br />
</p>

<div align="right">
    <a href="/Timecard/Index" class="btn btn-default btn-lg">Back</a>
</div>
