@model Bullard_Inc.Models.Timecard_EmpJobAddEdit

@{
    Layout = "~/Views/Shared/FieldWorkerFrame.cshtml";

    string status = "OPEN";
    string startDate = "12/6/17";
    string endDate = "12/13/17";
    string date = startDate + " - " + endDate;

    int day_id = (int) ViewData["day_id"];
    string dayString = (string) ViewData["dayString"];
}

<h2 align="center"><b>TIMECARD</b></h2>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <nav>
                <ul class="pagination pagination-lg pg-bluegrey">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="history">
                            @date
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col"></div>
    </div>
</div>

<p>Status: <span style="color: red"><b>@status</b></span></p>

<button class="btn btn-default btn-lg btn-block">@dayString</button>
<br />

<form action="EmpJobSubmit" method="post">

    <div class="md-form">
        <input value=@day_id type="hidden" id="EmployeeDay_Id" class="form-control" name="EmployeeDay_Id">
    </div>

    <!-- Projects Drowndown List-->
    <div class="md-form">
        <label class="active" for="form6">Project #:</label>
        <select class ="browser-default" id="Project_Id" name="Project_Id">
            @foreach (var project in Model.Projects)
            {
                <option value=@project.Project_Id> @project.Project_Num - @project.Location </option>
            }
        </select>
    </div>

    <!-- ActivityCode (Work Performed) Drowndown List-->
    <div class="md-form">
        <label class="active" for="form6">Work Performed:</label>
        <select class ="browser-default" id="ActivityCode" name="ActivityCode">
            @foreach (var code in Model.ActivityCodes)
            {
                <option value=@code.ActivityCode_Id>@code.ActivityDescription </option>
            }


        </select>
    </div>

    <div class="md-form">
        <input value=0 type="text" id="Hours" class="form-control" name="Hours">
        <label class="active" for="form6">Hours</label>
    </div>

    <div class="md-form">
        <input value=0 type="text" id="Mileage" class="form-control" name="Mileage">
        <label class="active" for="form6">Miles</label>
    </div>

    <div class="md-form">
        <input value=0 type="text" id="Lunch" class="form-control" name="Lunch">
        <label class="active" for="form6">Lunch</label>
    </div>

    <div>
        <input type="submit" class="btn btn-default" value="Submit">

        <div align="right">
            <a class="btn btn-default" href="/Timecard/empjobview/@day_id">Cancel</a>
        </div>
    </div>
</form>

