@model Bullard_Inc.Models.Job[]
@{
    Layout = "~/Views/Shared/FieldWorkerFrame.cshtml";

    string startDate = "12/6/17";
    string endDate = "12/13/17";
}

<h2 align="center"><b>TIMECARD</b></h2>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <nav>
                <ul class="pagination pagination-lg pg-bluegrey">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="history">
                            @startDate - @endDate
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col"></div>
    </div>
</div>

<p>Status: <span style="color: red"><b>Model.status</b></span></p>
<button class="btn btn-default btn-lg btn-block">@ViewData["day"]</button>
<br />
<a href="@ViewData["day_int"]/empjobadd" class="btn btn-default">ADD</a>
<form asp-action="@ViewData["day_int"]/empjobedit">
    @foreach (var job in Model)
    {
        <hr />
        <p>
            JOB #: @job.ActivityCode <br />
            Hours: @job.Hours <br />
            Miles: @job.Mileage <br />
            Lunch: @job.Lunch <br />
            Work Perfomed: job.workPerformed <br /> <br />
            <div>
                <button type="submit" class="btn btn-default">EDIT</button>
                <!--<button type="submit" class="btn btn-default disabled">DEL</button>-->
            </div>
        </p>
        <hr />
    }
</form>


<p>
    Total Hours: XXX <br />
    Total Miles: XXX <br />
</p>

<div align="right">
    <a href="/Timecard/Index" class="btn btn-default btn-lg">Back</a>
</div>
